<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous"></link>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous"></link>
</head>
<body>

	<div class="panel-body">
		<h1>Status carga arquivo</h1>

		<div th:if="${mensagemErro}">
			<h2 th:text="${mensagemErro}" />
		</div>

		<div th:if="${mensagemSucesso}">
			<h2 th:text="${mensagemSucesso}" />
			<table border="1" class="table-striped" width="75%">
				<tr>
					<th align="center">Comprador</th>
					<th align="center">Descri&ccedil;&atilde;o</th>
					<th align="center">Pre&ccedil;o unit&aacute;rio</th>
					<th align="center">Quantidade</th>
					<th align="center">Endere&ccedil;o</th>
					<th align="center">Fornecedor</th>
				</tr>
				<tbody style="text-align:center">
					<tr th:each="dadosVenda : ${dadosVendaLista}">
						<td th:text="${dadosVenda.comprador}" />
						<td th:text="${dadosVenda.descricao}" />
						<td th:text="${dadosVenda.precoUnitario}" />
						<td th:text="${dadosVenda.quantidade}" />
						<td th:text="${dadosVenda.endereco}" />
						<td th:text="${dadosVenda.fornecedor}" />
					</tr>
				</tbody>
				<tr align="center">
					<td colspan="6">
						<table>
							<tr>
								<td><small>Receita bruta</small></td>
							</tr>
							<tr>
								<td><h2 th:text="${receitaBruta}" /></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>

		<a href="/" class="btn btn-link">voltar</a>

	</div>

</body>
</html>